<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Insert title here</title>
    <script src="/javascript/jquery-1.11.3.min.js"></script>
    <script src="/javascript/pagePlugin.js"></script>
    <script src="/javascript/page.js"></script>
    <script>
        $(function () {
            $('ul').pageable();
        })
    </script>
</head>
<body>
<form method="post" th:action="@{/adminloginin}" th:object="${user}">
    <input type="text" th:field="*{name}"/> <input type="text"
                                                   th:field="*{password}"/> <input type="submit"/>
</form>

</body>
</html>