<!doctype html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport"
          content="width=device-width,  initial-scale=1.0, user-scalable=0, minimum-scale=1.0,  maximum-scale=1.0"/>
    <title>添加停车券</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/bootstrap-override.css"/>
    <link rel="stylesheet" type="text/css" href="css/jquery-ui-1.10.3.css"/>
    <link rel="stylesheet" type="text/css" href="css/base.css"/>
    <link rel="stylesheet" type="text/css" href="css/template.css"/>
    <script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="js/jquery-ui-1.10.3.min.js"></script>
    <script type="text/javascript" src="js/template.js"></script>
</head>

<body>
<div class="header clearfix">
    <div th:replace="admin/layout/header::header"></div>
</div>
<div class="mainwrapper clearfix">
    <div th:replace="admin/layout/menu::menu"></div>

    <div class="mainpanel">
        <div class="add-carquan-wrap">
            <div class="hd">
                <div class="bar add-bar">添加停车券</div>
            </div>
            <div class="row">
                <form class="form-horizontal pt50" th:object="${coupon}" th:method="post">
                    <div class="form-group">
                        <label class="col-md-4 control-label">名称：</label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" th:field="*{name}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">列表图：</label>
                        <div class="col-md-3">
                            <img src="" height="100" style="background:#FFF; width:100%;"/>
                            <input type="hidden" th:field="*{coverImg}"/>
                        </div>
                        <div class="col-md-2 mt40">
                            <input type="file" id="imgUp"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">背景图：</label>
                        <div class="col-md-3">
                            <img src="" height="100" style="background:#FFF; width:100%;"/>
                        </div>
                        <div class="col-md-2 mt40">
                            <input type="file"/>
                            <input type="hidden" th:field="*{contentImg}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">描述：</label>
                        <div class="col-md-3">
                            <textarea class="form-control" rows="6" th:field="*{summary}"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">卡券金额：</label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" th:field="*{amount}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">兑换积分：</label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" th:field="*{score}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">生效时间：</label>
                        <div class="col-md-2 text-center w12">
                            开始
                            <input class="form-control datepicker " placeholder="" type="text" th:field="*{beginTime}"/>
                        </div>
                        <div class="col-md-2 text-center w12">
                            结束
                            <input class="form-control datepicker " placeholder="" type="text" th:field="*{endTime}"/>
                        </div>
                    </div>
                    <div class="group-ft col-xs-offset-4 mt50">
                        <input type="submit" class="btn btn-default ml40" value="确认"/>
                        <button type="button" class="btn btn-default ml40">取消</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $('.datepicker').datepicker();
    })
</script>
</body>
</html>