<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Insert title here</title>
    <script src="/javascript/jquery-1.11.3.min.js"></script>
    <script id="registerTemplate" type="application/template">
        <div class="registerTemplate">
            <input type="text" name="beginTime"/>
            <input type="text" name="endTime"/>
            <input type="text" name="rate"/>
            <input type="button" class="delete" value="delete"/>
        </div>
    </script>
    <script>
    </script>
</head>
<body>
<form th:object="${coupon}" th:method="post">
	<ul>
<li th:each="err : ${#fields.errors('*')}" th:text="${err}" />
</ul>
    <input th:field="*{name}"/>
    <input th:field="*{summary}"/>
    <p th:if="${#fields.hasErrors('summary')}" >Incorrect date</p>
    <input type="submit"/>
</form>
</body>
</html>