<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Insert title here</title>
    <script src="/javascript/jquery-1.11.3.min.js"></script>
    <script src="/javascript/page.js"></script>
</head>
<body>
<div th:fragment="header">
    <div class="logo pull-left">
        <img src="img/logo.png" width="50" height="60"/>
    </div>
    <div class="sidebar-toggle pull-left">
        <i class="icon icon-toggle"></i>
    </div>
    <div class="crm-name pull-left">后台管理系统</div>
    <div class="username pull-right">
        <a>admin</a>
        <a class="signout">
            <i class="icon icon-sign"></i>
        </a>
    </div>
</div>
</body>
</html>