<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8" />
<title>Insert title here</title>
<script src="/javascript/jquery-1.11.3.min.js"></script>
<script src="/javascript/page.js"></script>
</head>
<body>
	<div th:fragment="menu">
		<div class="aside">
			<ul class="par-nav">
				<li class="active top-nav">
					<a>
						<i class="icon icon-one active"></i>
						导航
					</a>
				</li>
				<li th:each="menu:${menus}" th:class="${#lists.contains(menu.value,subMenu)}?'active'">
					<a><i class="icon" th:attrappend="class=${' ' + menu.key.name}"></i></a>
					<ul class="child-nav">
						<li th:each="m : ${menu.value}" th:class="${m == subMenu}?'active'">
							<a th:text="${m.name}" th:href="${m.href}"></a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</body>
</html>