spring:
  profiles:
    active: dev
  data:
    jpa:
      repositories:
        enabled: true
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: ""
  http:
    encoding:
      charset: UTF-8

security:
  enable-csrf: false
  basic:
    enabled: false

server:
  tomcat:
    uri-encoding: UTF-8
    
---
spring:
  profiles: dev
  thymeleaf:
    cache: false
  datasource:
    schema: classpath:sql/schema.sql
    data: classpath:sql/data.sql

logging:
  level:
    org.springframework.security: DEBUG
    org.springframework.web: INFO
