<!doctype html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport"
          content="width=device-width,  initial-scale=1.0, user-scalable=0, minimum-scale=1.0,  maximum-scale=1.0"/>
    <title>权限管理列表</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-override.css"/>
    <link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.10.3.css"/>
    <link rel="stylesheet" type="text/css" href="/css/base.css"/>
    <link rel="stylesheet" type="text/css" href="/css/template.css"/>
    <script type="text/javascript" src="/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap-timepicker.min.js"></script>
    <script type="text/javascript" src="/js/jquery-ui-1.10.3.min.js"></script>
    <script type="text/javascript" src="/js/template.js"></script>
    <script type="text/javascript" src="/js/jsRender.js"></script>
    <script src="/js/page.js"></script>
    <script id="detail" type="text/x-jsrender">
		{{for content}}
		<tr>
			<td><a>{{>name}}</a></td>
			<td><a>{{>beginTime}}</a></td>
			<td><a>{{>endTime}}</a></td>
            <td><a class="{{>cssClass}}">{{>state}}</a></td>
		</tr>
		{{/for}}
    </script>
</head>

<body>
<div class="header clearfix">
    <div th:replace="admin/layout/header::header"></div>
</div>
<div class="mainwrapper clearfix">
    <div th:replace="admin/layout/menu::menu"></div>

    <div class="mainpanel">
        <div class="power-wrap container">
            <div class="hd clearfix">
                <div class="bar base-bar short-bar pull-left">权限管理</div>
                <button type="button" class="btn btn-info">添加</button>
            </div>
            <table class="table table-striped bg-white mt20">
                <thead>
                <tr>
                    <th>名称</th>
                    <th>状态</th>
                    <th>最后修改时间</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="a:${lists.content}">
                    <td><a th:text="${a.name}">2016元旦</a></td>
                    <td><a th:text="${a.valid.toString()=='VALID'?'使用中':'无效'}">使用中</a></td>
                    <td><a th:text="${a.updatedTime}">2015年10月10号 10:00</a></td>
                </tr>
                </tbody>
            </table>
            <div class="pagination-wrap">
                <div th:replace="admin/layout/page::page"></div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        var submitFn = function (data) {
            var tmpl = $.templates("#detail");
            var html = tmpl.render(data.obj);
            $('table tbody').children().remove();
            $('table tbody').html(html);
        };

        var parameterFn = function () {
            return {};
        };

        $('ul.pagination').pageable({
            url: '/admin/parkingCoupons/json',
            parameter: parameterFn,
            fn: submitFn
        });
    })
</script>
</body>
</html>