<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport"
          content="width=device-width,  initial-scale=1.0, user-scalable=0, minimum-scale=1.0,  maximum-scale=1.0"/>
    <title>店铺信息</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-override.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/jquery-ui-1.10.3.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/base.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/template.css}"/>
    <script type="text/javascript" th:src="@{/js/jquery-1.8.3.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery-ui-1.10.3.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.validate.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/template.js}"></script>
    <script type="text/javascript" th:src="@{/js/fileUpload.js}"></script>
    <script type="text/javascript" th:src="@{/js/global.js}"></script>
    <script>
        $(function () {
            var url = "http://cchdev.b0.upaiyun.com/test/";
            $('div.col-md-2 input').change(function (event) {
                var source = $(event.target);
                var id = source.attr('id');
                $.ajaxFileUpload({
                            url: global.context + '/admin/upload',
                            secureuri: false,
                            fileElementId: source.attr('id'),
                            dataType: 'json',
                            success: function (data, status) {
                                if (status == 'success') {
                                    $('div.col-md-3 img').attr('src', global.url + data.responseText);
                                    $('#imgHref').val(global.url + data.responseText);
                                }
                                console.log(data);
                            },
                            error: function (data, status, e) {
                                alert(e);
                            }
                        }
                );
                return false;
            });
            $('#form').validate({
            	onkeyup: false, 
            	rules: {
            		name: {
            			required: true,
            			maxlength:10
            		},
            		shopKey: {
            			required: true,
            			maxlength:255,
            			remote: { 
            				url: '/admin/shops/duplicate'
            				}
            		}
            	},messages: {
            		name: {
	            		required:"名称不能为空",
	            		maxlength:"名称最长不能超过255"
            		},shopKey: {
            			required: "Pos-Key不能为空",
            			maxlength:"Pos-Key最长不能超过255",
            			remote: "Pos-Key已存在"
            		}
            	}
            });
        })
    </script>
</head>
<body>
<div class="header clearfix">
    <div th:replace="admin/layout/header::header"></div>
</div>
<div class="mainwrapper clearfix">
    <div th:replace="admin/layout/menu::menu"></div>
    <div class="mainpanel">
        <div class="add-giftquan-wrap">
            <div class="hd">
                <div class="bar edit-bar">店铺设置</div>
            </div>
            <div class="row">
                <form class="form-horizontal pt50" id="form" th:object="${shop}" th:method="put">
                    <div class="form-group">
                        <label class="col-md-4 control-label">名称：</label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" th:field="*{name}"/>
                            <i class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">必填</i>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Logo：</label>
                        <div class="col-md-3">
                            <img th:src="@{*{imgHref}}" height="100" style="background:#FFF; width:100%;"/>
                            <input type="hidden" th:field="*{imgHref}"/>
                        </div>
                        <div class="col-md-2 mt40">
                            <input type="file" id="imageUp"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Pos - Key：</label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" th:field="*{shopKey}"/>
                            <i class="error" th:if="${#fields.hasErrors('shopKey')}" th:errors="*{shopKey}">必填</i>
                        </div>
                    </div>
                    <div class="group-ft col-xs-offset-4 mt50">
                        <a th:href="@{/admin/shops}">
                            <button type="button" class="btn btn-default ml40">取消</button>
                        </a>
                        <button type="submit" class="btn btn-success ml40">确认</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div id="alert" th:if="${status}!=null" th:class="${status.status}">
    <div class="success-modal">
        <div class="show-msg">
            <div class="alert alert-success" role="alert" th:text="${status.message}">用户创建成功</div>
            <div class="success-bg"><img th:src="@{/img/icon-success.jpg}"/></div>
        </div>
    </div>
    <div class="fixed"></div>
</div>
</body>
</html>