<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width,  initial-scale=1.0, user-scalable=0, minimum-scale=1.0,  maximum-scale=1.0" />
    <title>添加会员卡积分</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap-override.css"/>
	<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.10.3.css"/>
	<link rel="stylesheet" type="text/css" href="/css/base.css"/>
	<link rel="stylesheet" type="text/css" href="/css/template.css"/>
	<script type="text/javascript" src="/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="/js/jquery-ui-1.10.3.min.js"></script>
	<script type="text/javascript" src="/js/template.js"></script>
    <script type="text/javascript" src="/js/page.js"></script>
    <script>
        $(function () {
        	$("#rate").blur(function(){
        		var rate = $(this);
        		if(rate.val().trim() == "")
        			rate.val("0.0");
        	});
        	$("#score").blur(function(){
        		var score = $(this);
        		if(score.val().trim() == "")
        			score.val("0");
        	});
        });
    </script>
</head>
<body>
<div class="header clearfix">
    <div th:replace="admin/layout/header::header"></div>
</div>
<div class="mainwrapper clearfix">
	<div th:replace="admin/layout/menu::menu"></div>
	<div class="mainpanel">
		<div class="add-cartjfen-wrap">
			<div class="hd">
				<div class="bar add-bar">添加会员卡规则</div>
			</div>
           <div class="row">
               <form class="form-horizontal pt50" th:object="${rule}" method = "post">
                 	<div class="form-group">
                  		<label class="col-md-3 control-label">名称：</label>
                      	<div class="col-md-3">
                      		<input type="text" class="form-control" th:field="*{name}" maxlength="20"/>
                      		<p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Incorrect date</p>
                      	</div>
                  	</div>
                  	<div class="form-group">
                  		<label class="col-md-3 control-label">所属会员卡：</label>
                      	<div class="col-md-3">
	                      	<select class="form-control" th:field="*{card}">
	                      		<option th:each="c:${cards}" th:value="${c.id}" th:text="${c.name}"></option>
	                      	</select>
                      	</div>
                 	 </div>
                  	<div class="form-group">
                  		<label class="col-md-3 control-label">积分类型：</label>
                      	<div class="col-md-3">
	                      	<select class="form-control" th:field="*{ruleCategory}">
	                      		<option th:each="r:${category}" th:value="${r.id}" th:text="${r.name}"></option>	                   
	                      	</select>
                      	</div>
                  	</div>
                    <div class="form-group">
                  		<label class="col-md-3 control-label">生效时间：</label>
                  		<div class="col-md-3">
                  	 		<input class="form-control datepicker " placeholder="" type="text" th:field="*{beginTime}"/>
                  	 		<p th:if="${#fields.hasErrors('beginTime')}" th:errors="*{beginTime}">Incorrect date</p>
                  		</div>
                    </div>
                  	<div class="form-group">
                  		<label class="col-md-3 control-label">结束时间：</label>
                      	<div class="col-md-3">
                      		<input class="form-control datepicker " placeholder="" type="text" th:field="*{endTime}"/>
                      		<p th:if="${#fields.hasErrors('endTime')}" th:errors="*{endTime}">Incorrect date</p>
                      	</div>
                  	</div>
                      <div class="form-group">
                  		<label class="col-md-3 control-label">交易倍率：</label>
                      	<div class="col-md-3">
                      		<input type="text" class="form-control" th:field="*{rate}" onkeyup="value=value.replace(/[^\d.]/g,'')"/>
                      		<p th:if="${#fields.hasErrors('rate')}" th:errors="*{rate}">Incorrect date</p>
                      	</div>
                  	</div>
                  	<div class="form-group">
                  		<label class="col-md-3 control-label">额外积分：</label>
                      	<div class="col-md-3">
                      		<input type="text" class="form-control" th:field="*{score}" onkeyup="value=value.replace(/[^\d]/g,'')"/>
                      		<p th:if="${#fields.hasErrors('score')}" th:errors="*{score}">Incorrect date</p>
                      	</div>
                  	</div>
                  	<div class="group-ft col-xs-offset-2 mt50">
                  		<a th:href="@{/admin/cardRules}"><button class="btn btn-default" type="button">取消</button></a>
                      	<button type="submit" class="btn btn-success col-xs-offset-2">完成</button>
                  	</div>
               </form>
           </div>
		</div>
	</div>
</div>
<script type="text/javascript">
	$(function(){
		 $('.datepicker').datepicker({
	     	dateFormat:'yy-mm-dd',
	     });
	})
</script>
</body>
</html>