<!doctype html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport"
          content="width=device-width,  initial-scale=1.0, user-scalable=0, minimum-scale=1.0,  maximum-scale=1.0"/>
    <title>会员管理详细页</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-override.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/base.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/template.css}"/>
    <script type="text/javascript" th:src="@{/js/jquery-1.8.3.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/template.js}"></script>
    <script type="text/javascript" th:src="@{/js/jsRender.js}"></script>
    <script th:src="@{/js/page.js}"></script>
    <script id="use-tmpl" type="text/x-jsrender">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-md-3 control-label">会员卡：</label>
                <div class="col-md-3 padd5 text-center">{{:cardName}}</div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">注册日期：</label>
                <div class="col-md-3 padd5 text-center">{{:createdTime}}</div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">消费金额：</label>
                <div class="col-md-3 padd5 text-center">{{:amount}}</div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">消费次数：</label>
                <div class="col-md-3 padd5 text-center">{{:count}}</div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">总积分：</label>
                <div class="col-md-3 padd5 text-center">{{:sumScore}}</div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">可用积分：</label>
                <div class="col-md-3 padd5 text-center">
                  <span class="item-amount ">
                    <a class="minus">
                        <i class="icon icon-miuns" data-toggle="modal" data-target=".modal-jf-miuns"></i>
                    </a>
                    <input type="text" value="{{:availableScore}}"/>
                    <a class="plus">
                        <i class="icon icon-plus" data-toggle="modal" data-target=".modal-jf-plus"></i>
                    </a>
                  </span>
                </div>
            </div>
        </form>

    </script>
    <script id="trading-tmpl" type="text/x-jsrender">
        <table class="table table-striped bg-white" id='tradingTable'>
            <thead>
            <tr>
                <th>消费时间</th>
                <th>消费店铺</th>
                <th>消费金额</th>
            </tr>
            </thead>
            <tbody>
            {{for content}}
            <tr>
                <td>{{>createdTime}}</td>
                <td>{{>shopName}}</td>
                <td>{{>amount}}</td>
            </tr>
            {{/for}}
            </tbody>
        </table>
        <div class="pagination-wrap">
            <ul class="pagination" id="tradingPage">
            </ul>
        </div>
    </script>
    <script id="trading-row" type="text/x-jsrender">
        {{for content}}
            <tr>
                <td>{{>createdTime}}</td>
                <td>{{>shopName}}</td>
                <td>{{>amount}}</td>
            </tr>
        {{/for}}

    </script>
    <script id="score-tmpl" type="text/x-jsrender">
		<table class="table table-striped bg-white" id="scoreTable">
			<thead>
			<tr>
				<th>变更时间</th>
				<th>积分变动</th>
				<th>描述</th>
			</tr>
			</thead>
			<tbody>
			{{for content}}
			<tr>
				<td>{{>createdTime}}</td>
				<td>{{>deposit}}</td>
				<td>{{>reason}}</td>
			</tr>
			{{/for}}
			</tbody>
		</table>
		<div class="pagination-wrap">
			<ul class="pagination" id='scorePage'>
			</ul>
		</div>

    </script>
    <script id="score-row" type="text/x-jsrender">
        {{for content}}
            <tr>
                <td>{{>createdTime}}</td>
                <td>{{>deposit}}</td>
                <td>{{>reason}}</td>
            </tr>
        {{/for}}

    </script>
    <script id="parking-tmpl" type="text/x-jsrender">
		<table class="table table-striped bg-white" id="parkingTable">
			<thead>
			<tr>
				<th>进场时间</th>
				<th>出场时间</th>
				<th>支付车牌</th>
				<th>金额</th>
			</tr>
			</thead>
			<tbody>
			{{for content}}
			<tr>
				<td>{{>startTime}}</td>
				<td>{{>endTime}}</td>
				<td>{{>license}}</td>
				<td>{{>amount}}</td>
			</tr>
			{{/for}}
			</tbody>
		</table>
		<div class="pagination-wrap">
			<ul class="pagination" id="parkingPage">
			</ul>
		</div>
    </script>
    <script id="shopCoupons-tmpl" type="text/x-jsrender">
		<table class="table table-striped bg-white" id="shopCouponsTable">
			<thead>
			<tr>
				<th>获得时间</th>
				<th>使用时间</th>
				<th>店铺名称</th>
				<th>卡券名称</th>
			</tr>
			</thead>
			<tbody>
			{{for content}}
			<tr>
				<td>{{>exchangedTime}}</td>
				<td>{{>usedTime}}</td>
				<td>{{>shopName}}</td>
				<td>{{>name}}</td>
			</tr>
			{{/for}}
			</tbody>
		</table>
		<div class="pagination-wrap">
			<ul class="pagination" id="shopCouponsPage">
			</ul>
		</div>
    </script>
    <script id="shopCoupons-row" type="text/x-jsrender">
			{{for content}}
			<tr>
				<td>{{>exchangedTime}}</td>
				<td>{{>usedTime}}</td>
				<td>{{>shopName}}</td>
				<td>{{>name}}</td>
			</tr>
			{{/for}}
    </script>
    <script id="giftCoupons-tmpl" type="text/x-jsrender">
		<table class="table table-striped bg-white" id="giftCouponsTable">
			<thead>
			<tr>
				<th>获得时间</th>
				<th>使用时间</th>
				<th>卡券名称</th>
			</tr>
			</thead>
			<tbody>
			{{for content}}
			<tr>
				<td>{{>exchangedTime}}</td>
				<td>{{>usedTime}}</td>
				<td>{{>name}}</td>
			</tr>
			{{/for}}
			</tbody>
		</table>
		<div class="pagination-wrap">
			<ul class="pagination" id="giftCouponsPage">
			</ul>
		</div>
    </script>
    <script id="giftCoupons-row" type="text/x-jsrender">
			{{for content}}
			<tr>
				<td>{{>exchangedTime}}</td>
				<td>{{>usedTime}}</td>
				<td>{{>name}}</td>
			</tr>
			{{/for}}
    </script>
    <script id="parkingCoupons-tmpl" type="text/x-jsrender">
		<table class="table table-striped bg-white" id="parkingCouponsTable">
			<thead>
			<tr>
				<th>获得时间</th>
				<th>使用张数</th>
				<th>卡券名称</th>
			</tr>
			</thead>
			<tbody>
			{{for content}}
			<tr>
				<td>{{:created}}</td>
				<td>{{:total}}</td>
				<td>{{:couponName}}</td>
			</tr>
			{{/for}}
			</tbody>
		</table>
		<div class="pagination-wrap">
			<ul class="pagination" id="parkingCouponsPage">
			</ul>
		</div>
    </script>
    <script id="parkingCoupons-row" type="text/x-jsrender">
			{{for content}}
			<tr>
				<td>{{:created}}</td>
				<td>{{:total}}</td>
				<td>{{:couponName}}</td>
			</tr>
			{{/for}}
    </script>
    <script id="parking-row" type="text/x-jsrender">
		{{for content}}
		<tr>
			<td>{{:startTime}}</td>
			<td>{{:endTime}}</td>
			<td>{{:license}}</td>
			<td>{{:amount}}</td>
		</tr>
		{{/for}}
    </script>
    <script>
        $(function () {
            var consumeTmpl = {};
            consumeTmpl.page = $.templates('#page-row');

            var array = [{
                tmpl: 'use',
                tabDetail: '#t2'
            }, {
                tmpl: 'trading',
                tabDetail: '#t3',
                pageId: 'tradingPage'
            }, {
                tmpl: 'score',
                tabDetail: '#t4',
                pageId: 'scorePage'
            }, {
                tmpl: 'parking',
                tabDetail: '#t5',
                pageId: 'parkingPage'
            }, {
                tmpl: 'giftCoupons',
                tabDetail: '#t6',
                pageId: 'giftCouponsPage'
            }, {
                tmpl: 'shopCoupons',
                tabDetail: '#t7',
                pageId: 'shopCouponsPage'
            }, {
                tmpl: 'parkingCoupons',
                tabDetail: '#t8',
                pageId: 'parkingCouponsPage'
            }];

            function init(obj) {
                var tab = '#' + obj.tmpl + 'Flow',
                        tmplName = '#' + obj.tmpl + '-tmpl',
                        cacheName = obj.tmpl,
                        suffix = '/' + obj.tmpl,
                        table = '#' + obj.tmpl + 'Table tbody',
                        row='#'+obj.tmpl+'-row';
                if (consumeTmpl[cacheName] == null){
                    consumeTmpl[cacheName] = $.templates(tmplName);
                }
                if(consumeTmpl[row]==null){
                	consumeTmpl[row]=$.templates(row);
                }
                $(tab).click(function () {
                    var self = $(this);
                    var id = self.attr('data-id');
                    var row='#'+obj.tmpl+'-row';
                    $.ajax({
                        url: '/admin/members/' + id + suffix,
                        success: function (data) {
                            var html = consumeTmpl[cacheName].render(data.obj);
                            $(obj.tabDetail).html(html);
                            if (obj.pageId != null) {
                                $('#' + obj.pageId).pageable({
                                    url: '/admin/members/' + id + '/' + obj.tmpl,
                                    parameter: function () {
                                        return {};
                                    },
                                    fn: function (data) {
                                        var html = consumeTmpl[row].render(data.obj);
                                        $(table).children().remove();
                                        $(table).html(html);
                                    },
                                    totalPages: data.obj.totalPages,
                                    tmpl: consumeTmpl.page
                                });
                            }
                        }
                    });
                });
            }

            array.forEach(function (e) {
                init(e);
            });

            $("#btn-miuns").click(function () {
                var miuns_value = $("#miuns-val").val();
                if (miuns_value == null || miuns_value.trim() == "")
                    return;
                var id = $(this).attr("member");
                $.ajax({
                    url: "/admin/members/score",
                    type: 'POST',
                    data: {
                        'id': id,
                        'score': "-" + miuns_value
                    },
                    success: function (data) {
                        var tmpl = $.templates("#use-tmpl");
                        var html = tmpl.render(data.obj);
                        $("#t2").children().remove();
                        $("#t2").html(html);
                    }, error: function (data) {
                        console.log(data);
                    }
                });
            });

            $("#btn-plus").click(function () {
                var plus_value = $("#plus-val").val();
                if (plus_value == null || plus_value.trim() == "")
                    return;
                var id = $(this).attr("member");
                $.ajax({
                    url: "/admin/members/score",
                    type: 'POST',
                    data: {
                        'id': id,
                        'score': plus_value
                    },
                    success: function (data) {
                        var tmpl = $.templates("#use-tmpl");
                        var html = tmpl.render(data.obj);
                        $("#t2").children().remove();
                        $("#t2").html(html);
                    }, error: function (data) {
                        console.log(data);
                    }
                });
            });
        });
    </script>
</head>

<body>
<div class="header clearfix">
    <div th:replace="admin/layout/header::header"></div>
</div>
<div class="mainwrapper clearfix">
    <div th:replace="admin/layout/menu::menu"></div>

    <div class="mainpanel">
        <div class="mem-manage-detail">
            <ul class="nav nav-tabs">
                <li class="base active">
                    <a data-toggle="tab" href="#t1">基本信息
                    </a>
                </li>
                <li class="use">
                    <a data-toggle="tab" id="useFlow" href="#t2" th:attr="data-id=${member.id}">使用情况
                    </a>
                </li>
                <li class="default">
                    <a data-toggle="tab" id="tradingFlow" href="#t3" th:attr="data-id=${member.id}">消费记录
                    </a>
                </li>
                <li class="default">
                    <a data-toggle="tab" id="scoreFlow" href="#t4" th:attr="data-id=${member.id}">积分记录
                    </a>
                </li>
                <li class="default">
                    <a data-toggle="tab" id="parkingFlow" href="#t5" th:attr="data-id=${member.id}">停车记录
                    </a>
                </li>
                <li class="default">
                    <a data-toggle="tab" id="giftCouponsFlow" href="#t6" th:attr="data-id=${member.id}">礼品券记录
                    </a>
                </li>
                <li class="default">
                    <a data-toggle="tab" id="shopCouponsFlow" href="#t7" th:attr="data-id=${member.id}">商铺券记录
                    </a>
                </li>
                <li class="default">
                    <a data-toggle="tab" id="parkingCouponsFlow" href="#t8" th:attr="data-id=${member.id}">停车券记录
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="t1" class="tab-pane active">
                    <form class="form-horizontal">
                        <div class="clearfix mr50">
                            <input id="validate" type="button" class="pull-right btn btn-danger" data-toggle="modal"
                                   data-target=".modal" value="加入黑名单" th:attr="member=${member.id}"/>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">姓名：</label>
                            <div class="col-md-3 padd5 text-center" th:text="${member.memberDetail.realName}">Jessica
                                Foster
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">手机号：</label>
                            <div class="col-md-3 padd5 text-center" th:text="${member.name}">13454672334</div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">出生年月：</label>
                            <div class="col-md-3 padd5 text-center"
                                 th:text="${#dates.format(member.memberDetail.birthday, 'yyyy-MM-dd')}">1992/01/01
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">详细地址：</label>
                            <div class="col-md-3 padd5 text-center" th:text="${member.memberDetail.address}">
                                上海市黄浦区建国西路
                            </div>
                        </div>
                    </form>
                </div>
                <div id="t2" class="tab-pane">
                </div>
                <div id="t3" class="tab-pane">
                </div>
                <div id="t4" class="tab-pane">
                </div>
                <div id="t5" class="tab-pane">
                </div>
                <div id="t6" class="tab-pane">
                </div>
                <div id="t7" class="tab-pane">
                </div>
                <div id="t8" class="tab-pane">
                </div>
            </div>

            <!--modal start-->

            <div class="modal fade bs-example-modal-sm modal" tabindex="-1" role="dialog"
                 aria-labelledby="mySmallModalLabel">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">×</span></button>
                        </div>
                        <div class="modal-body text-center">
                            <div class="alert alert-danger" role="alert">
                                警告!<br>
                                确认是否将该客户移至黑名单？</br>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                            <button type="button" class="btn btn-danger confirm" data-toggle="modal"
                                    data-target=".modal-two" data-dismiss="modal">确认
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!--modal end-->
            <!--modal 积分加 start-->

            <div class="modal modal-jf-plus fade bs-example-modal-sm" tabindex="-1" role="dialog"
                 aria-labelledby="mySmallModalLabel">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">×</span></button>
                        </div>
                        <div class="modal-body text-center">
                            <div class="alert alert-info" role="alert">请输入您需要增加的积分数。</div>
                            <div class="nums-input">
                                <input type="text" id="plus-val" placeholder="0"/>
                            </div>
                        </div>
                        <div class="modal-footer" style="text-align:center">
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                            <button type="button" id="btn-plus" class="btn btn-success confirm"
                                    th:attr="member=${member.id}" data-toggle="modal" data-target=".modal-two"
                                    data-dismiss="modal">确认
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!--modal 积分 end-->


            <!--modal 积分减 start-->

            <div class="modal modal-jf-miuns fade bs-example-modal-sm" tabindex="-1" role="dialog"
                 aria-labelledby="mySmallModalLabel">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">×</span></button>
                        </div>
                        <div class="modal-body text-center">
                            <div class="alert alert-danger" role="alert">
                                请输入您需要扣除的积分数。
                            </div>
                            <div class="nums-input">
                                <input type="text" id="miuns-val" placeholder="0"/>
                            </div>
                        </div>
                        <div class="modal-footer" style="text-align:center">
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                            <button type="button" id="btn-miuns" class="btn btn-success confirm"
                                    th:attr="member=${member.id}" data-toggle="modal" data-target=".modal-two"
                                    data-dismiss="modal">确认
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!--modal 积分 end-->
        </div>
    </div>
</div>
<div id="alert" th:if="${status}!=null">
    <div class="success-modal">
        <div class="show-msg">
            <div class="alert alert-success" role="alert">
                设置成功
            </div>
            <div class="success-bg">
                <img src="/img/icon-success.jpg"/>
            </div>
        </div>
    </div>
    <div class="fixed"></div>
</div>
<script type="text/javascript">
    $(function () {
        // $('.modal-one').on('hide.bs.modal', function () {
        //   alert(111);})
        $('.modal-footer .confirm').click(function () {
            $('.success-modal,.fixed').show().delay(2000).fadeOut(500);
        })
    });
</script>
</body>
</html>