textarea{
	resize:none;
}
body{
	overflow-x:hidden; 
}
a{
	color: #333;
}
.form-group{
	font-size:14px;
}
.delay2s{
	transition: all .2s;
    -webkit-transition: all .2s;
}
.hd{
	position: relative;
}
.hd button{
	margin-top:5px;
	margin-left:10px;
}
.bar{
	width: 100%;
	height: 45px;
	padding-left: 40px;
	line-height: 45px;
	color: #fff;
	font-weight: bold;
	font-size: 26px;
}
.short-bar{
	width: 96%;
}
.base-bar{
	background: #17c3bb;
}
.using-bar{
	background: #a8d471;
}
.add-bar{
	background: #5bc0de;
}
.edit-bar{
	background: #efad4e;
}
.close-bar{
	background: #d9534f;
}
.state-bar{
	background: #7a6fbe;
}
.cancel-bar{
	background: #bec3c7;
}
.list{
	padding: 30px 0;
}
.list li{
	float: left;
	margin: 0 25px 25px;
}
.list li a{
	display: block;
}
.center{
	text-align: center;
}
.succees{
	color: #5cb85c;
}
.add{
	color: #5bc0de;
}
.succees{
	color: #5cb85c;
}
.edit{
	color: #5cb85c;
}
.cancel{
	color: #bec3c7;
}
.danger{
	color: #d9534f;
}
.search{
	color: #d9534f;
}
.group{
	margin-bottom: 10px;
	padding: 10px 10px 4px;
	background: #2c3542;
}
.group-list{
	margin: 8px 0;
	overflow: hidden;
}
.group-list label{
	width: 30%;
	text-align: right;
	float: left;
	color: #7f8ca1;
}
.group-list div{
	padding-left: 20px;
	float: left;
}
.base-info label{
	width: 15%;
}
.pt3{
	padding-top: 3px;
}
.pt50{
	padding-top:50px;
}
.padd30{
	padding: 30px 0 15px;
}
.pl50{
	padding-left: 50px;
}
.mt50{
	margin-top:50px;
}
.mt15{
	margin-top:15px;
}
.mt25{
	margin-top: 25px;
}
.mt40{
	margin-top:40px;
}
.ml10{
	margin-left:10px;
}
.ml15{
	margin-left:15px;
}
.ml20{
	margin-left:20px;
}
.ml40{
	margin-left:40px;
}
.mr50{
	margin-right: 50px;
}
.padd3{
	padding: 3px;
}
.pt30{
	padding-top:30px;
}
.w12{
	width:12.5%;
}
.w120{
	width: 120px!important;
}
.w300{
	width: 200px!important;
}
.form-inline{
	margin:30px 0;
}
.bg-white{
	background:#fff;
}
.pagination-wrap{
	text-align:center;
}
.table{	
	border:1px solid #fff;
}
.table td a{
	padding: 8px 45px;
}

.form-inline input.datepicker,
.form-horizontal input.datepicker{
	background-color:#fff;
}
span.item-amount {
	display: block;
	position: relative;
}
span.item-amount a{
	display: inline-block;
	width: 25px;
	height: 25px;
	padding-top: 7px;
}
span.item-amount input{
	width: 60px;
	text-align: center;
	background:#f1f2f7;
	border:none;
	outline: medium;
}
span.item-amount i.icon-miuns{
	background-position: -73px -61px;
}
span.item-amount i.icon-plus{
	background-position: -73px -40px;
}

/*会员卡积分规则详细*/
.show-msg{
}
.show-msg .alert{
	width:450px;
	margin-bottom: 30px;
	margin-top: 30px;
	font-size:14px;
}

/*按钮滑动*/
.btn-change .checkbox {
  position: relative;
  display: inline-block;
}
.btn-change .checkbox label {
  width: 90px;
  position: relative;
  display: inline-block;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.btn-change .checkbox label:after {
  content: '';
  position: absolute;
  z-index: 2;
  background: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.btn-change .checkbox input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}
.btn-change .checkbox:after, .btn-change .checkbox:before {
  content: '否';
  position: absolute;
  right: 10px;
  top: 12px;
  font-family: "Microsoft YaHei";
  font-size: 14px;
  color: #fff;
}
.btn-change .checkbox:before {
  content: '是';
  left: -50px;
  top:12px;
  z-index: 1;
  color: #fff;
}
.btn-change .checkbox label {
  background: #d9534f;
  height: 28px;
  border-radius: 18px;
}
.btn-change .checkbox label:after {
  background-color: #ffffff;
  *zoom: 1;
  border-radius: 18px;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  top: 2px;
  left:4px;
  width: 23px;
  height: 23px;
}
.btn-change .checkbox input:checked + label {
  background: #5cb85c;
}
.btn-change .checkbox input:checked + label:after {
  left: 63px;
}

/**登录**/
.logo-wrap{
	width: 400px;
	height: 340px;
	padding: 20px 30px 30px;
	margin: auto;
	position: fixed;
	left: 0;
	top:0;
	bottom: 0;
	right: 0;
	background:#fff;
	box-shadow: 0 2px 18px -3px #bec3c7;
}
.logo-wrap .input-group{
	margin: 20px 0;
}
.logo-wrap .input-group-addon{
	padding: 10px 15px;
}
.logo-wrap .form-control{
	padding: 10px;
}
.logo-wrap .ft-btn{
	margin: 20px 0 ;
}
.logo-wrap button{
	width: 340px;
	font-size: 15px;
	letter-spacing: 5px;
	margin: auto;
}
.error{
	color: red;
	margin-top: 5px;
}