<!doctype html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport"
          content="width=device-width,  initial-scale=1.0, user-scalable=0, minimum-scale=1.0,  maximum-scale=1.0"/>
    <title>会员卡积分</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-override.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/jquery-ui-1.10.3.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/jquery-ui.theme.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/base.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/template.css}"/>
    <script type="text/javascript" th:src="@{/js/jquery-1.8.3.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery-ui-1.10.3.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/template.js}"></script>
    <script type="text/javascript" th:src="@{/js/fileUpload.js}"></script>
    <script type="text/javascript" th:src="@{/js/global.js}"></script>
</head>

<body>
<div class="header clearfix">
    <div th:replace="admin/layout/header::header"></div>
</div>
<div class="mainwrapper clearfix">
    <div th:replace="admin/layout/menu::menu"></div>

    <div class="mainpanel">
        <div class="member-jfe-wrap container">
            <div class="hd">
                <div class="bar using-bar">添加店铺积分规则</div>
            </div>
            <div class="show-msg">
                <form class="form-horizontal pt50" th:object="${rule}" th:method="post">
                    <div class="form-group">
                        <label class="col-md-4 control-label">名称：</label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" th:field="*{name}"/>
                        </div>
                        <p class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Incorrect date</p>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">生效时间：</label>
                        <div class="col-md-3">
                            <input class="form-control datepicker " placeholder="" type="text" th:field="*{beginTime}"/>
                        </div>
                        <p class="error" th:if="${#fields.hasErrors('beginTime')}" th:errors="*{beginTime}">Incorrect date</p>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">结束时间：</label>
                        <div class="col-md-3">
                            <input class="form-control datepicker " placeholder="" type="text" th:field="*{endTime}"/>
                        </div>
                        <p class="error" th:if="${#fields.hasErrors('endTime')}" th:errors="*{endTime}">Incorrect date</p>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">额外积分：</label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" th:field="*{score}"/>
                        </div>
                        <p class="error" th:if="${#fields.hasErrors('score')}" th:errors="*{score}">Incorrect date</p>
                    </div>
                    <div class="form-group" id="rate-div">
                        <label class="col-md-4 control-label">交易倍率：</label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" th:field="*{rate}"/>
                        </div>
                        <p class="error" th:if="${#fields.hasErrors('rate')}" th:errors="*{rate}">Incorrect date</p>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">活动店铺：</label>
                        <div class="col-md-3">
                            <div class="checkbox" th:each="s:${shops}">
                                <label>
                                    <input type="checkbox" th:field="*{shops}" th:value="${s.id}"/>
                                    <span th:text="${s.name}"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="group-ft col-xs-offset-3 mt50">
                    	<a th:href="@{/admin/shopRules}" class="btn btn-default ml40">返回</a>
                        <button type="submit" class="btn btn-success col-xs-offset-1">提交</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/js/cardRule/edit.js">
</script>
</body>
</html>
