<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Insert title here</title>
    <script src="/javascript/jquery-1.11.3.min.js"></script>
    <script src="/javascript/page.js"></script>
    <script>
        $(function () {
            $('ul').pageable({
                url: '/admin/parkingCoupon/json',
                parameter: function () {
                    return {
                        beginTime: '2012-12-1',
                        endTime: '2012-12-30',
                        state: $('#state').val()
                    }
                },
                fn: function (data) {
                    console.log(data);
                }
            });
        });
    </script>
</head>
<body>
<select id="state">
    <option value="">all</option>
    <option value="closed">closed</option>
    <option value="noexpire">noexpire</option>
    <option value="expire">expire</option>
    <option value="using">using</option>
</select>
<table>
    <tr th:each="m:${lists.content}">
        <td th:text="${m.name}"></td>
    </tr>
</table>
<ul class="pageable" th:each="i:${#numbers.sequence(1,last)}">
    <li><a href="#" th:text="${i}">1</a></li>
</ul>
</body>
</html>