<!doctype html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport"
          content="width=device-width,  initial-scale=1.0, user-scalable=0, minimum-scale=1.0,  maximum-scale=1.0"/>
    <title>账户设置</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-override.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/base.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/template.css}"/>
    <script type="text/javascript" th:src="@{/js/jquery-1.8.3.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/template.js}"></script>
    <script type="text/javascript" th:src="@{/js/global.js}"></script>
    <script>
        $(function () {
            $('#confirm').click(function () {
                var password = $('#password').val();
                var repeat = $('#repeat').val();
                $.ajax({
                    url: global.context + '/admin/password',
                    type:'put',
                    data:{
                    	password:password,
                    	repeat:repeat
                    },
                    success: function (data) {
						console.log(data);
                    }
                })
            });
        });
    </script>
</head>

<body>
<div class="header clearfix">
    <div th:replace="admin/layout/header::header"></div>
</div>
<div class="mainwrapper clearfix">
    <div th:replace="admin/layout/menu::menu"></div>

    <div class="mainpanel">
        <div class="set-wrap container">
            <div class="hd">
                <div class="bar edit-bar">账户设置</div>
            </div>
            <div class="show-msg">
                <form class="form-horizontal pt50">
                    <div class="form-group">
                        <label class="col-md-4 control-label">新密码：</label>
                        <div class="col-md-3">
                            <input type="text" id="password" class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group mt40">
                        <label class="col-md-4 control-label">重新输入新密码：</label>
                        <div class="col-md-3">
                            <input type="text" id="repeat" class="form-control"/>
                        </div>
                    </div>
                    <div class="group-ft col-xs-offset-2 mt50">
                        <button id="confirm" type="button" class="btn btn-success col-xs-offset-4">确认
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>