<!doctype html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport"
          content="width=device-width,  initial-scale=1.0, user-scalable=0, minimum-scale=1.0,  maximum-scale=1.0"/>
    <title>添加会员卡</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-override.css"/>
    <link rel="stylesheet" type="text/css" href="/css/base.css"/>
    <link rel="stylesheet" type="text/css" href="/css/template.css"/>
    <script type="text/javascript" src="/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="/js/template.js"></script>
    <script type="text/javascript" src="/js/fileUpload.js"></script>
    <script>
    $(function(){
    	var url="http://cchdev.b0.upaiyun.com/test/";
    	$('div.col-md-5 input').change(function (event) {
            var source = $(event.target);
            var id = source.attr('id');
            $.ajaxFileUpload({
                    url: '/admin/upload',
                    secureuri: false,
                    fileElementId: source.attr('id'),
                    dataType: 'json',
                    success: function (data, status) {
                    	if(status=='success'){
                    		$('div.col-md-5 img').attr('src',url+data.responseText);
                    		$('#imgHref').val(url+data.responseText);
                    	}
                    	console.log(data);
                    },
                    error: function (data, status, e) {
                        alert(e);
                    }
                }
            );
            return false;
        });
    })
    </script>
</head>

<body>
<div class="header clearfix">
    <div th:replace="admin/layout/header::header"></div>
</div>
<div class="mainwrapper clearfix">
    <div th:replace="admin/layout/menu::menu"></div>
    <div class="mainpanel">
        <div class="add－cart-wrap">
            <div class="hd">
                <div class="bar edit-bar">会员卡基本信息设置</div>
            </div>
            <div class="row">
                <form class="form-horizontal" th:object="${card}" th:method="put">
                    <div class="form-group pt50">
                        <label class="col-md-3 control-label">名称：</label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" th:field="*{name}" readonly="readonly"/>
                            <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Incorrect date</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">背景图：</label>
                        <div class="col-md-5">
                            <img th:src="@{*{imgHref}}" width="300" height="210"/>
                            <input type="file" id="imageUp"/>
                            <input type="hidden" th:field="*{imgHref}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">初始积分：</label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" th:field="*{initScore}" onkeyup="value=value.replace(/[^\d.]/g,'')"/>
                            <p th:each="err : ${#fields.errors('initScore')}" th:text="${err}" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">描述：</label>
                        <div class="col-md-3">
                            <textarea class="form-control" rows="8" th:field="*{summary}"></textarea>
                        </div>
                    </div>
                    <div class="group-ft col-xs-offset-3 mt50">
                        <a th:href="@{/admin/cards}"><button class="btn btn-default" type="button">取消</button></a>
                        <button type="submit" class="btn btn-success col-xs-offset-2" >确定</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div id="alert" th:if="${status}!=null" th:class="${status.status}">
	<div class="success-modal">
		<div class="show-msg">
			<div class="alert alert-success" role="alert" th:text="${status.message}">用户创建成功</div>		
			<div class="success-bg"><img th:src="@{/img/icon-success.jpg}" /></div>
		</div>
	</div>
<div class="fixed"></div>
</div>
</body>
</html>
