<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Insert title here</title>
    <script src="/javascript/jquery-1.11.3.min.js"></script>
    <script id="registerTemplate" type="application/template">
        <div class="registerTemplate">
            <input type="text" name="beginTime"/>
            <input type="text" name="endTime"/>
            <input type="text" name="rate"/>
            <input type="button" class="delete" value="delete"/>
        </div>
    </script>
</head>
<body>
<form  th:method="post" enctype="multipart/form-data">
    <input type="file" name="file"/>
    <input type="submit"/>
</form>
</body>
</html>